<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Minhas Tarefas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Minhas Tarefas</h5>
        <nav class="my-2 my-md-0 mr-md-3">            
            <a class="p-2 text-dark" href="@Url.Action("Index", "Lista")">Listas de Tarefas</a>            
        </nav>
        <a class="btn btn-outline-primary" href="@Url.Action("Create", "Lista")"><span class="glyphicon glyphicon-tasks"></span>CRIAR LISTA DE TAREFAS</a>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>            
            <p>&copy; @DateTime.Now.Year - Minhas Tarefas</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>

</html>
